.about-us p {
  @apply my-3;
}
.swiper-pagination-bullet {
  opacity: 1;
  background: rgba(255, 255, 255, 0.3);
}

.swiper-pagination-bullet-active {
  background: #007aff;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}
